*{
    margin:0px;
    padding: 0px;
}
body{
    font-family: "Playfair Display", serif;
}
button{
    border-radius: 5px;
    height: 40px;
    padding-top: 10px;
    width: 150px;
    padding-bottom: 20px;
    border: 1px solid #ffffff;
    color: white;
    background: #d80eeb;
    background: linear-gradient(180deg, rgba(216, 14, 235, 1) 0%, rgba(255, 186, 222, 1) 100%);
    text-transform: uppercase;
    box-shadow: 5px 5px #ffffff9d;

}
section#home{
    height: 100vh;
    background: #d80eeb;
    background: linear-gradient(180deg, rgba(216, 14, 235, 1) 0%, rgba(255, 186, 222, 1) 100%);
padding-left: 50px;
padding-right: 50px;
}
section#home header{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
section#home header div h1{
    color:white;
    font-family: "Cookie", cursive;

}  
section#home header nav ul {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}
section#home header nav ul li {
    list-style: none;
}
section#home header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}
section#home #content{
    display: flex;
    color: #ffffff;
}
section#home #content div{
flex:1;
}

section#home #content h2{
font-size: 4rem;
color:#ffffff;
margin-top: 20px;
}

section#home #content #botones{
    padding-top:20px;
    gap: 20px;
    display: flex;
 }

p{
    padding-top:20px;
}
section#home #content #imagen{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen img{
    border-radius: 100%;
    width: 500px;
    height: 500px;
    
}
section#home  #imagen2{
    align-items: center;
    display:flex;
}
section#home #imagen2 img{
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

section#home2{
    display: flex;
    height: 100vh;
    background: #d80eeb;
    background: linear-gradient(180deg, rgba(216, 14, 235, 1) 0%, rgba(255, 186, 222, 1) 100%);
    padding-left: 50px;
    padding-right: 50px;
    justify-content: center;
    align-items: center;
    gap: 200px;
}
#botones{ 
    display: grid;
    grid-template-columns: 50% 50%;
}
.cuatro{
    display: flex;
    background: #ffffff60;
    height: 40px;
    margin-top: 10px;
    width: 200px;
    gap: 30px;
    border: 1px solid #ffffff;
    border-radius: 50px;
    padding-left: 25px;
}
.cuatro h4{
    display: flex;
    justify-content: center;
    align-items: center;
}
section#home2 div div button {
    margin-top: 30px;
}
section#home3{
    height: 100vh;
    background: #d80eeb;
    background: linear-gradient(180deg, rgba(216, 14, 235, 1) 0%, rgba(255, 186, 222, 1) 100%);
    padding-left: 50px;
    padding-right: 50px;
    
   
}
section#home3 div{
    display: FLEX;
    justify-content: center;
    align-items: center;
    margin-top: 2PX;
}



